<div class="form-group">
  <div class="row d-flex align-items-end">
    <div class="col-3">
      <h1>Weather App</h1>
    </div>
    <div class="col">
      <h6 class="text-muted">by Nadav Tenne</h6>
    </div>
  </div>
</div>

<form (submit)="getData()" #f="ngForm">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>lon-left:</label>
        <input class="form-control" type="number" name="lonLeft" [(ngModel)]="filter.lonLeft" required />
      </div>
      <div class="col">
        <label>lat-bottom:</label>
        <input class="form-control" type="number" name="latBottom" [(ngModel)]="filter.latBottom" required/>
      </div>
      <div class="col">
        <label>lon-right:</label>
        <input class="form-control" type="number" name="lonRight" [(ngModel)]="filter.lonRight" required/>
      </div>
      <div class="col">
        <label>lat-top:</label>
        <input class="form-control" type="number" name="latTop" [(ngModel)]="filter.latTop" required/>
      </div>
      <div class="col">
        <label>zoom:</label>
        <input class="form-control" type="number" name="zoom" [(ngModel)]="filter.zoom" required/>
      </div>
      <div class="col d-flex align-items-end">
        <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Refresh</button>
      </div>
    </div>
  </div>


  <div class="form-group">
    Select gender:
    <div class="btn-group">
      <button type="button" class="btn" [ngClass]="selectedGender==='male'? 'btn-primary':'btn-secondary'" (click)="onSelectGender('male')">Male</button>
      <button type="button" class="btn" [ngClass]="selectedGender==='female'? 'btn-primary':'btn-secondary'" (click)="onSelectGender('female')">Female</button>
    </div>
  </div>

</form>


<div *ngIf="loading">loading...</div>
<div *ngIf="!loading">
  total results : {{stations.length}}
  <table class="table">
    <thead>
      <tr>
        <th>Station Name</th>
        <th>Temprature (°C)</th>
        <th>Humidity (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let station of stations">
        <td>{{station.name}}</td>
        <td>{{station.main.temp}}</td>
        <td>{{station.main.humidity}}</td>
      </tr>
    </tbody>
  </table>
</div>